{% extends 'base.html' %}
{% load static %}
{% block countercontent %}
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
            <div class="logo">
                <img src="{% static 'images/Logo.png' %}"></img>
            </div>
            </div>
          <div class="col-md-8">
            <div class="textual">
              <b>Office occupancy</b> <br>
              <div class="small">
                <div class="datum" id="datum">|&nbsp;</div>
                <div class="vreme" id="vreme"></div>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <div class="middleone">
              <center>Currently there are &nbsp;&nbsp;&nbsp;&nbsp;<span class="bigorange" id="counter-log" onmousedown="WhichButton(event)"></span>&nbsp;&nbsp;&nbsp;&nbsp; people on the 4<sup>th</sup> floor</center>
            </div>

          </div>
      </div>
      <div class="row">
          <div class="col-md-3 low-left"><img src="{% static 'images/covekzena.png' %}" width=250px></img></div>
          <div class="col-md-5"></div>
          <div class="col-md-3 low-right"><img src="{% static 'images/kompjuteras.png' %}" width=500px></img></div>
      </div>
  </div>

{% block script %}
  <script>

//Websocket skripte

    var socket = new WebSocket('ws://' + window.location.host + '/count/');

/* metod za onopen */
    socket.onopen = function(e) {
      console.log('WebSockets connection created. ', e);
    };

/* metod za onmessage */
    socket.onmessage = function(e) {
//    console.log('Dosli podaci ', e);
    const data = e.data;
//    console.log(data);
    document.getElementById('counter-log').innerHTML = (data +'\n');
    };

/*    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
*/

/* metod za onclose */
    socket.onclose = function(e) {
    console.log('Zatvaram socket ',e);
    socket.send("Zatvaranje soketa");
    };

/* metod za error */
    socket.onerror = function(e) {
    console.log('Greska za socket ',e);
    };

  </script>

<script>
//Skripta za mishonju
var poruka = 307;
    function WhichButton(event) {
    event.preventDefault();
    poruka = event.button;
    console.log(poruka);
}


</script>


<script>
  var myVar = setInterval(function() {
myTimer();
    }, 1000);

          function myTimer() {
            var d = new Date();
            var day = d.getDate();
            var month = d.getMonth()+1;
            var year = d.getFullYear();
            document.getElementById("vreme").innerHTML = d.toLocaleTimeString();
            document.getElementById("datum").innerHTML = day+"/"+month+"/"+year+" |&nbsp;";
          }
        </script>
{% endblock script %}






{% endblock %}