{% extends 'base.html' %}
{% block countercontent %}
<div class="bojan">Bojan</div>
<div id="chat-log"></div><br>

{% block script %}
  <script>
//Websocket skripte

    var socket = new WebSocket('ws://' + window.location.host + '/ws/count/');

/* metod za onopen */
    socket.onopen = function open() {
      console.log('WebSockets connection created. ');
    };

/* metod za onmessage */
    socket.onmessage = function(e) {
    console.log('Dosli podaci ', e);
    const data = e.data;
    console.log(data);
    document.getElementById('chat-log').innerHTML += (data + 'Boki'+'\n');
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }

/* metod za onclose */
    socket.onclose = function(e) {
    console.log('Zatvaram socket ',e);
    };

/* metod za error */
    socket.onerror = function(e) {
    console.log('Greska za socket ',e);
    };


  </script>
{% endblock script %}






{% endblock %}