{% extends 'base.html' %}
{% block countercontent %}
<div class="bojan">Bojan</div>
<div id="chat-log"></div><br>

{% block script %}
  <script>
//Websocket skripte
    var wsStart = 'ws://'
    var loc = window.location
    var pathname = '/count/'
    if (loc.protocol == 'https:') {
    wsStart = 'wss://'
    }


    var endpoint = wsStart+loc.host+pathname
    console.log(endpoint)

    const count_socket = new WebSocket(endpoint);

    document.getElementById('chat-log').innerHTML += 'Boki'+'\n';

/* metod za onopen */
    count_socket.onopen = function open(e) {
      console.log('WebSockets connection created. ', e);
    };

/* metod za onmessage */
    count_socket.onmessage = function(e) {
    console.log('Dosli podaci ', e);
    const data = e.data;
    document.querySelector('#chat-log').value += (data.message + 'Boki'+'\n');
    };

/*    if (count_socket.readyState == WebSocket.OPEN) {
      count_socket.onopen();
    } */

/* metod za onclose */
    count_socket.onclose = function(e) {
    console.log('Zatvaram socket ',e);
    };

/* metod za error */
    count_socket.onerror = function(e) {
    console.log('Greska za socket ',e);
    };


  </script>
{% endblock script %}






{% endblock %}